<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientSecret</key>
	<string>e5a788a6ca8e6d6a4913d882560893749f8ed706</string>
	<key>clientID</key>
	<string>f90fad0475a53b72dcea</string>
</dict>
</plist>
